<div>
  <h2>Estrutura do projeto</h2>

  <h3>app</h3>

  <ul>
    <li>Controller: É aqui que ficam todos os controladores (a ponte entre a view e os models)</li>
    <li>Utils: É aqui que ficam armazenadas as classes utilitárias</li>
    <li>Model: É aqui que ficam os modelos e entidades que cuidam dos dados e regras de negócio
      (representação de tabelas representadas por objetos, usuários, produto)
    </li>
  </ul>

  <h3>resources</h3>
  <p>responsável por guardar todos os conteúdos relacionados à layout (HTML, CSS, JS, imagens)</p>

  <ul>
    <li>view: É aqui que são armazenados os layouts</li>
  </ul>
</div>