* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: #1e2328;
}

.invocador {
  display: grid;
  background: #1e2328;
  width: 100%;
  height: 800px;
  border-radius: 10px;
  position: relative;
  z-index: -2;
}

.invocador::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(#00ccff, #d400b2);
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  z-index: -3;
}

.invocador::after {
  content: '';
  background: #1e2328;
  border-radius: 10px;
  inset: 4px;
  position: absolute;
  z-index: -2;
}

.nome-invocador {
  font-size: 60px;
  justify-self: center;
  top: 0;
  position: absolute;
}

.level-invocador {
  background: #1e2328;
  padding: 5px;
  border: 2px solid #FFF;
  border-radius: 10px;
  justify-self: center;
  top: 160px;
  position: absolute;
}

.borda-icone-invocador {
  width: 600px;
  height: 750px;
  justify-self: center;
  bottom: 150px;
  position: absolute;
}

.icone-invocador {
  width: 200px;
  height: 195px;
  border-radius: 50%;
  justify-self: center;
  bottom: 355px;
  position: absolute;
  z-index: -1;
}

.vitoria-invocador {
  background: #1e2328;
  padding: 5px;
  border: 2px solid #FFF;
  border-radius: 10px;
  justify-self: center;
  top: 100px;
  position: absolute;
}

.divisao-invocador {
  font-size: 25px;
  justify-self: center;
  top: 228px;
  position: absolute;
}

.maestria-invocador {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  bottom: 0;
  position: absolute;
}

.icone-campeao-maestria {
  width: 80px;
  border-radius: 50%;
}

.pontos-maestria-invocador {
  margin-top: 10px;
  background: #1e2328;
  padding: 5px;
  border: 2px solid #FFF;
  border-radius: 10px;
}

.icone-maestria {
  width: 80px;
}